{% extends "base.twig" %}
{% block title %}Wishlist{% endblock %}
{% block instore %}{% endblock %}
{% block content %}
    <body style = "min-height: 100vh; display: flex; flex-direction:column;">
      <main> 
        {% if(json|length == 0) %}
            <h2 class="text-center text-uppercase text-secondary" style="margin-top:200px;">Wishlist is empty</h2>
            <p class="text-center">Try to add some games!</p>
            <div class="col text-center">
                <a class="btn btn-primary" href="http://localhost:8030/store" role="button">Go Store</a>
            </div>
        {% else %}
            <h2 class="page-section-heading text-center text-uppercase text-secondary mt-5">Wishlist</h2>
            <div class="container whishlist-container">
              {% for j in 0..json|length - 1%}
                <div class="card shadow bg-secondary" style="margin: 20px;">
                    <a href ="http://localhost:8030/user/wishlist/{{json[j].game_Id}}">
                        <img class="card-img-top" src="{{json[j].thumbnail}}" style="width: 502px; height: 300px;">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-light">{{json[j].title}}</h5>
                        <p class="card-text text-light">Id: {{json[j].game_Id}}</p>
                        <div class="justify-content-between" style = "display: grid; grid-template-columns: 65% 30%;">
                            <form action = "/store/buy/{{json[j].game_Id}}" method = "post">
                              <button type="submit" class="btn btn-block btn-success btn-circle btn-icon-left"><i class="fa fa-shopping-cart"></i> Buy {{json[j].price}} $</button>
                            </form>
                            <form action = "/user/wishlist/delete/{{json[j].game_Id}}" method = "post">
                              <button type="submit" class="btn btn-block btn-danger btn-circle btn-icon-left"><i class=""></i> Remove</button>
                            </form>
                            
                        </div>
                    </div>
                </div>
              {% endfor %}
            </div>
        {% endif %}
      </main>
    </body>
{% endblock %}